annotated-types
anyio
asgiref
certifi
charset-normalizer
Django
django-clearcache
django-cors-headers
django-storages
djangorestframework
docopt
exceptiongroup
fastapi
greenlet
gunicorn
idna
packaging
pipreqs
psycopg2
pydantic
pydantic_core
pytz
requests
sniffio
SQLAlchemy
sqlparse
starlette
typing_extensions
tzdata
urllib3
whitenoise
yarg
